@model ProjetoOficinaWeb.Models.ChangeUserViewModel

@{ ViewData["Title"] = "Delete"; }

<div class="content-wrapper">
    <h1>Delete</h1>
    <div>
        <hr />
        <div class="row">
            <div class="col-md-8">
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.LastName)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Address)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.PostalCode)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.PostalCode)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.TaxNumber)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.TaxNumber)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<form asp-action="Delete">
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-success">Back to List</a>
</form>
